@import "../../../styles/baseline/_styles";

.card {
  background-color: $white;
  transition: $global-transition;
  opacity: .8;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 9px 10px -6px grey;
  position: relative;

  &:hover {
    transform: scale(1.055);
  }
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 140px;
}

.img {
  transition: $global-transition;
}

.content {
  padding: 140px 20px 20px;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.id,
.title {
  color: $color-font;
}

.avatar {
  bottom: 87px;
  left: 50%;
  transform: translateX(-50%);
}