@import "../../../styles/baseline/_styles";

.hero {
  display: flex;
  justify-content: center;
}

.cta {
  position: absolute;
  top: 20px;
}

.color {
  width: 100%;
  height: 220px;

  @include respond-above($bp-md) {
    height: 300px;
  }
}